{% extends 'base.html' %}
{% block title %}Index{% endblock %}

{% block body %}

    <h1>SURVEYS:</h1>
    <form action="/" method="post">
        <label for="survey">Choose a Survey:</label><br>
        <select name="survey" id="survey">
        {% for each in surveys.items() %}
            <option value="{{each[0]}}"><b>{{each[1].title}}</b> {{each[1].instructions}}</option>
            <!-- <li>{{each[1].title}}  {{each[1].instructions}}</li> -->
        {% endfor %}
        </select>
        <input type="submit">
    </form>

{% endblock %}